<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Message</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("用户名：", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        <input type="text" name="username" value="" class="form-control text-box single-line" />
                        @Html.ValidationMessage("username", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("密码：", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        <input type="password" name="password" value="" class="form-control text-box single-line" />
                        @Html.ValidationMessage("password", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="登陆" class="btn btn-default" />
                        <input type="reset" value="重填" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 衡水复明眼科医院</p>
            </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>